<template>
  <div class="login">
    <h1 class="login__title">
      <span class="login__title-main">
        Bank
      </span>
      Support Portal
    </h1>
    <div class="login__main">
      <form
        class="login__form"
        @submit.prevent=""
      >
        <div class="login__input-wrapper j-input-wrapper">
          <i class="material-icons">
            person
          </i>
          <input
            v-model="email"
            data-validation="E-mail"
            type="text"
            class="login__input"
            placeholder="E-mail"
            @input="checkValidation"
          >
          <div
            class="login__validation-status"
          >
            <img
              v-if="isValideEmail === 'invalid'"
              src="./image/invalid.png"
              alt="invalid"
            >
            <img
              v-if="isValideEmail === 'valid'"
              src="./image/valid.png"
              alt="valid"
            >
          </div>
          <span class="login__error j-input-error" />
        </div>
        <div class="login__input-wrapper j-input-wrapper">
          <i class="material-icons">
            lock
          </i>
          <input
            v-model="password"
            data-validation="password"
            type="password"
            class="login__input"
            placeholder="Password"
            @input="checkValidation"
          >
          <div
            class="login__validation-status"
          >
            <img
              v-if="isValidePassword === 'invalid'"
              src="./image/invalid.png"
              alt="invalid"
            >
            <img
              v-if="isValidePassword === 'valid'"
              src="./image/valid.png"
              alt="valid"
            >
          </div>
          <span class="login__error j-input-error" />
        </div>
        <button class="login__button">
          Login
        </button>
        <div class="login__help">
          Forgot your password?
          <a
            href="#"
            class="login__help-link"
          >
            Reset it here.
          </a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
    errorEmail: '',
    errorPassword: '',
    isValideEmail: '',
    isValidePassword: '',
  }),

  methods: {
    checkValidation({ target }) {
      const regEmail = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
      const regPassword = /^([A-Za-z0-9\.]{8,})$/;

      const mainRules = target.dataset.validation.split(':');

      const wrapper = target.closest('.j-input-wrapper');
      const erorr = wrapper.querySelector('.j-input-error');

      target.closest('.j-input-wrapper').classList.add('login__input-wrapper--valide');
      erorr.innerHTML = '';

      if (mainRules[0] === 'E-mail') {
        if (regEmail.test(target.value) === false) {
          target.closest('.j-input-wrapper').classList.remove('login__input-wrapper--valide');
          erorr.innerHTML = 'Invalid E-mail';
          this.isValideEmail = 'invalid';
        } else {
          this.isValideEmail = 'valid';
        }
      }

      if (mainRules[0] === 'password') {
        if (regPassword.test(target.value) === false) {
          target.closest('.j-input-wrapper').classList.remove('login__input-wrapper--valide');
          erorr.innerHTML = 'Invalid Password';
          this.isValidePassword = 'invalid';
        } else {
          this.isValidePassword = 'valid';
        }
      }
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/global";

.login {
  margin: 0 auto;
  width: 100%;
  max-width: 440px;

  &__title {
    font-size: 18px;
    margin-left: 90px;
    margin-bottom: 34px;
  }

  &__title-main {
    font-size: 41px;
    color: #36a2c1;
  }

  &__main {
    border: 1px solid rgba(153, 153, 153, 0.33);
    border-radius: 5.51px;
  }

  &__form {
    margin: 0 auto;
    max-width: 295px;
  }

  &__input-wrapper {
    position: relative;
    margin-top: 34px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(153, 153, 153, 0.28);
    color: #ccc;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 0 16px 0 20px;

    &--valide {
      border-color: #159454;
    }
  }

  &__input {
    border: none;
    outline: none;
    letter-spacing: -0.14px;
    color: #666;
    font-size: 14px;
    width: 100%;
    margin-left: 10px;
  }

  &__error {
    position: absolute;
    bottom: -16px;
    left: 0;
    color: #ed1f24;
    font-size: 11px;
  }

  &__validation-status {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
  }

  &__button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 40px 0 20px;
    color: #fff;
    font-size: 18px;
    letter-spacing: -0.18px;
    background-color: #36a2c1;
    box-shadow: 2px 3px #2d7f96;
    transition: all 0.2s ease;
    outline: none;

    &:active {
      box-shadow: none;
      transform: translate(2px, 3px);
    }

    &:hover {
      background-color: #348fa8;
    }
  }

  &__help {
    color: #666;
    letter-spacing: -0.12px;
    font-size: 12px;
    margin-bottom: 34px;
  }

  &__help-link {
    color: #36a2c1;
  }
}
</style>
